<div class="max-w-screen-md mx-auto px-4 sm:px-8 xl:px-0 py-10">
  <h1 class="text-3xl font-bold text-base-content mb-6 text-center">
    Créer un article
  </h1>

  <form class="space-y-6" [formGroup]="articleForm" (submit)="onSubmit()">
    <div>
      <label for="title" class="label">
        <span class="label-text">Titre</span>
      </label>
      <input
        type="text"
        id="title"
        formControlName="title"
        name="title"
        placeholder="Titre de votre article"
        class="input input-bordered w-full"
        required
      />
    </div>

    <div>
      <label for="description" class="label">
        <span class="label-text">Description</span>
      </label>
      <input
        type="text"
        id="description"
        formControlName="description"
        name="description"
        placeholder="Description de votre article"
        class="input input-bordered w-full"
        required
      />
    </div>

    <quill-editor
      formControlName="content"
      name="content"
      [modules]="modules"
      placeholder="Écrivez votre article..."
      theme="snow"
      format="html"
    >
    </quill-editor>

    <div class="text-center">
      <button type="submit" [disabled]="isSending" class="btn btn-primary">
        Publier l'article
      </button>
    </div>
  </form>
</div>
