<div class="max-w-4xl mx-auto">
  <a
    routerLink="/explore"
    class="inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium transition-colors h-10 px-4 py-2 mb-6 text-base-content hover:text-primary"
  >
    <i-lucide [img]="ArrowLeft" class="h-4 w-4" />
    Retour aux articles
  </a>
  @if (articleSignal()) {
  <article class="p-6 bg-base-100 shadow-2xl rounded">
    <div class="mb-4">
      <h1 class="text-4xl font-bold text-base-content mb-4">
        {{ articleSignal()?.title }}
      </h1>

      <div class="flex items-center gap-4 text-base-content/70">
        <div class="flex items-center gap-2">
          <span class="font-medium">{{ articleSignal()?.authorName }}</span>
        </div>
        <span>•</span>
        <time>{{ articleSignal()?.createdAt | date : "dd/MM/YYYY" }}</time>
      </div>
    </div>

    @if (articleSignal()) {
    <div class="prose prose-lg max-w-none mb-4">
      <quill-view-html [content]="articleSignal()!.content" theme="snow">
      </quill-view-html>
    </div>
    }
  </article>
  } @else {
  <p class="text-center text-gray-600">Aucun article n'a été trouvé</p>
  }
</div>
